<% provide(:title, 'Show') %>
<h1>Show</h1>

  <table>
  	 <tr>
  	 	<th>First Name</th>
  	 	<th>Last Name</th>
  	 	<th>Wharton Email</th>
  	 	<th>Cluster</th>
  	 	<th>Class</th>
  	 	<th>Frequency</th>
  	 	<th>Next</th>
  	 	<th>Industries</th>
  	 	<th>Hobbies</th>
  	 	<th>Nationalities</th>
  	 	<th>Sports</th>
  	 	<th>Suggestions</th>
  	 </tr>

  <% @users.each do |user| %>
  	 <tr>
  		<td><%= user.first_name %></td>
  		<td><%= user.last_name %></td>
  		<td><%= user.wharton_email %></td>
  		<td><%= user.cluster_number %></td>
  		<td><%= user.class_year %></td>
  		<td><%= user.frequency %></td>
  		<td><%= user.first_dinner %></td>
  		<td><%= user.industry_ids %></td>
  		<td><%= user.hobby_ids %></td>
  		<td><%= user.nationality_ids %></td>
  		<td><%= user.sport_ids %></td>
  		<td><%= user.suggestions %></td>
  	 </tr>
  <% end %>
  </table>
