<h2>Please provide the following information to help us schedule your event</h2>
<h2>You may update your information at any time after submission</h2>

<div class="row">
  <div class="span8 offset2">
	<%= form_for(current_user) do |f| %>
		<%= f.hidden_field :edit_type, :value => "setup_preferences" %>
		
		<div class="form-inline row span8" id="row_fields">
			<h3>Adminstrative</h3>
			
			<div class='span8' id='left_box'>
				<%= f.label :wharton_email, "Please enter your Wharton email address" %>
				<%= f.text_field :wharton_email %>
			</div>
			<div class="span4" id="left_box">
				<%= f.label :cluster_number, "Which cluster are you in?" %>
				<%= f.select(:cluster_number, options_for_select([["",0],[1, 1], [2, 2], [3, 3], [4, 4]], current_user.cluster_number)) %>
			</div>
			<div class="span4"  id="right_box">
				<%= f.label :class_year, "What is your expected graduation year?" %>
				<%= f.select(:class_year, options_for_select([[2014, 2014], [2015, 2015]], current_user.class_year)) %>
			</div> 
			<div class='span4' id='left_box'>
				<%= f.label :frequency, "How often would you like to participate in small group events?" %>
				<%= f.select(:frequency, options_for_select([["Every two weeks", "every two weeks"], 
															["Monthly", "monthly"], ["Every two months", "every two months"], 
															["Once a semester", "once a semester"]], current_user.frequency)) %>
			</div>
			<div class='span4' id='right_box'>
				<%= f.label :first_dinner, "Do you want to participate in the very first small group event?" %>
				<%= f.select(:first_dinner, options_for_select([["Yes", "Yes"], ["No", "No"]], current_user.first_dinner)) %>
			</div>
			</div>
			
			
			<div class="form-inline row span8" id="row_fields">
			<div class='span4' id='left_box'>
				<h3>Industries</h3>
				<h5>Which industries/job functions are you most interested in?</h5>
				<% for industry in Industry.all %>
				<div>
				  <%= check_box_tag "user[industry_ids][]", industry.id, current_user.industries.include?(industry) %>
				  <%= industry.name %>
				</div>
				<% end %>
			</div>

			<div class='span4' id='right_box'>
				<h3>Hobbies</h3>
				<h5>What are your favorite hobbies/interests?</h5>
				<% for hobby in Hobby.all %>
				<div>
				  <%= check_box_tag "user[hobby_ids][]", hobby.id, current_user.hobbies.include?(hobby) %>
				  <%= hobby.name %>
				</div>
				<% end %>
			</div>
			</div>
			
			<div class="form-inline row span8" id="row_fields">
			<div class='span4' id='left_box'>
				<h3>Nationalities</h3>
				<h5>Which nationalities/geographies do you most relate with?</h5>
				<% for nationality in Nationality.all %>
				<div>
				  <%= check_box_tag "user[nationality_ids][]", nationality.id, current_user.nationalities.include?(nationality) %>
				  <%= nationality.name %>
				</div>
				<% end %>
			</div>
			
			<div class='span4' id='right_box'>
				<h3>Sports</h3>
				<h5>What are your favorite sports?</h5>
				<% for sport in Sport.all %>
				<div>
				  <%= check_box_tag "user[sport_ids][]", sport.id, current_user.sports.include?(sport) %>
				  <%= sport.name %>
				</div>
				<% end %>
			</div>

			</div>
			

			<div class="form-inline row span8" id="row_fields">
			<div class='span8' id='left_box'>
				<%= f.label :suggestions, "Do you have suggestions for other things to include in your profile?" %>
				<%= f.text_field :suggestions %>
			</div>
			</div>
    	<%= f.submit "Submit", class: "btn btn-default btn-primary vert-form-btn" %> 
	<% end %>
  </div>
</div>